section {
  margin: 1rem auto;
  width: 100%;
  max-width: 40rem;
  text-align: center;
  background-color: #f6cf57;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 0%;
  margin-top: 0%;
}
img {
  width: 80%;
}
div {
  margin: 1rem auto;
  max-width: 40rem;
  text-align: center;
  background-color: #f6cf57;
  margin-top: 0%;
  margin-bottom: 0%;
}
button {
  font: inherit;
  cursor: pointer;
  background: #e3350d;
  border: 1px solid #e3350d;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #ee6b2f;
  border-color: #ee6b2f;
}

input {
  font: inherit;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1.5px solid #0075be;
  background-color: #dedede;
  width: 20rem;
  max-width: 100%;
  margin-right: 2%;
}

input:focus {
  outline: none;
  border-color: #89722c;
  background-color: whitesmoke;
}
hr {
  border-color: #f6cf57;
}
